body {
  font-family: "Source Sans 3", sans-serif;
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #252525;
}

main {
  background-color: white;
  color: #191919;
  border-radius: 12px;
  width: 375px;
  height: 545px;
}

.top-bar,
.bottom-section {
  padding: 8px 12px;
}

.top-bar {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile-img {
  border-radius: 50%;
  width: 38px;
  height: 38px;
}

h1 {
  font-weight: 700;
  font-size: 16px;
  line-height: 0.5;
}

h2 {
  font-weight: 400;
  font-size: 14px;
  line-height: 0.5;
}

.post-img-section {
  height: 375px;
  width: 375px;
  overflow: hidden;
}

.post-img {
  width: 100%;
}

.post-actions {
  padding-top: 3px;
  padding-bottom: 2px;
  display: flex;
  gap: 14px;
}

.action-btn {
  color: #191919;
  cursor: pointer;
  transition: 0.3s;
  width: 24px;
  height: auto;
}

.action-btn:hover {
  opacity: 0.7;
}

.action-btn:active {
  scale: 0.95;
}

p {
  font-size: 14px;
  line-height: 0.8;
}
